.container {
  max-width: 480px;
  margin: 50px auto;
  text-align: center;
}

/* 반응형 디자인: 600px 미만의 화면 크기에 대한 스타일 */
@media (max-width: 480px) {
  .container {
    max-width: 90%; /* 화면 너비의 90% */
    margin: 20px auto;
  }
}

.start-section {
  background-image: url("처음.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-section {
  background-image: url("1번설문지.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

button {
  background-color: #8B4513;
  border: 1px solid #D2691E;
  color: #FFDAB9;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background-color: #A0522D;
}

.selected-answer {
  background-color: #4caf50;
  color: white;
}


.results-content {
  transform: translateY(300px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.moved-down {
  transform: translateY(100px);
}

img {
  max-width: 50%;
  height: auto;
}

.background-image {
  background-image: url('처음.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;
}
